.page_layout_sidebar {
    height: 1400px;
    background:  transparent linear-gradient(180deg, #7E82BC 0%, #3F415E 100%) 0% 0% no-repeat padding-box;
}
.scroll_view_wraper {
    //overflow:scroll;
    // height: 1370px;
    // width: 100%;
    .main_card_list {
        border: 1px solid #707070;
        box-shadow: 0px 3px 6px #00000060;
        
       .main_card_image {
         border: 1px solid black;
         height: 330px;
         background-size: contain;
         img {
            width: 100%;
            height: 100%;
           
         }
       }
        .main_card_title {
            padding: 0;
            height: 83px;
            background: #3D3E77 0% 0% no-repeat padding-box;
            text-align: center;
            color: white;
            font-size: 37px;
            line-height: 83px;
            opacity: 0.9;
            margin-top: -80px;
    
        }
    
    
    }
}
