.navbar_ul {
    display: flex;
    width: 100%;
    height: 129px;
    padding: 0;
    margin: 0;
    justify-content: space-around;

    li {
       list-style: none;
       flex:1;
       text-align: center;
       font-size: 26px;
       font-weight: 600;
       color: #3D3E77;
       background: #EBEBEB;
       
       p {
        width: 230px;
        text-align: center;
        margin-left: 12px;
    }

    }
    li:active {
        border-bottom: 12px solid #19A0AF;
    }
  
    li:nth-child(1) {

        margin-right: 5px;
    }
    li:nth-child(2) {
        margin-right:5px;
   
    
    }
    li:nth-child(3) {
        margin-right: 5px;
        
        p {
            width: 200px;
            text-align: center;
            margin-left: 32px;
        }
        
    }
 
    a:link {
        text-decoration: none;
    }
  
}
