.events_warper {
    background: #EBEBEB;
    height: 1354px;
    color: #3D3E77;
    text-align: center;

    table { 
         
        color: #3D3E77;
        width: 100%;
        text-align: center;
        padding-top: 40px;
        padding-left: 50px;

       
        th {
            color: #3D3E77;

            padding-bottom: 30px;
            font-size: 24px;
            text-align: center;

        }
     
        td {
            width: 300px;
            font-size: 17px;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;

        }
    }
}
