.page_layout_sidebar {
    height: 1400px;
    background:  transparent linear-gradient(180deg, #7E82BC 0%, #3F415E 100%) 0% 0% no-repeat padding-box;
}
.around_vanuatu_sublist__scroll_view_wraper {
    overflow:scroll;
    height: 1370px;
    width: 100%;
    .main_card_list {
        border: 1px solid #707070;
        box-shadow: 0px 3px 6px #00000060;
        
       .main_card_image {
         border: 1px solid black;
         height: 330px;
         background-size: contain;
         img {
            width: 100%;
            height: 100%;
           
         }
       }
        .main_card_title {
            padding: 0;
            height: 83px;
            background: #3D3E77 0% 0% no-repeat padding-box;
            text-align: center;
            color: white;
            font-size: 37px;
            line-height: 83px;
            opacity: 0.9;
            margin-top: -80px;
    
        }
    
    
    }
}

.events_header_warper {
    width: 945px;
    height: 380px;
    background: rgba(0, 0, 0, 0);
    .events_header_title {
        color: white;
        height:  83px; 
        font-size: 37px; 
        font-weight: 600;
        line-height: 83px;
        text-align: center;
        background-color: #3D3E77; 
    }
    .event_ctr_bar_up {
        width: 100%;
        height: 70.5px;
        background-color: #8887C1;
        border-top: 2px solid rgba(232, 232, 232, 0.892);
        .arrow_up {
            position: absolute;
            width: 0;
            height: 0;
            left: 50%;
            top: 4.3%;
            border-bottom: 40px solid #C6C6E2;
            border-top: 40px solid transparent;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
           
        }
        .arrow_down  {
            position: absolute;

            width: 0;
            height: 0;
            left: 50%;
            bottom: 30px;
            border-bottom: 40px solid  transparent;
            border-top: 40px solid #C6C6E2;
            border-left: 50px solid transparent;
            border-right: 50px solid transparent;
        }
    }
   
}
